body{
    background: linear-gradient(to right, #ffbcfb, #7a90ff) !important;
}

.navbar-brand{
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 15px;
}

.navbar{
    background-color:#fff490;
    border-bottom: 2.5px solid black;
}

.nav-item{
    color: gray;
}

#list{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    margin: 20px 10px;
    width: 15rem;
}

.card-title
{
    height: 50%;
}

.card-text{ 
    height: 0.5rem;
}

.cards{
    padding: 10px;
    display: flex;
    flex-wrap:wrap
}

.card-img-top {
    width: 100%; 
     height: 40vh; 
    object-fit: fill;
}

.card-footer{
    display: flex;
    justify-content: center;
    background: rgb(170, 170, 170);
}

.buttons {
    margin: 5px;
    padding: 10px;
}

.btn{
    margin: 1px;
    width: 49%;
}
