<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart Page</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="../css/cart.css" type="text/css">
</head>

<body>
	<main>
		<nav class="navbar navbar-expand-lg navbar-light">
			<span class="navbar-brand"></span>
			<div class="collapse navbar-collapse justify-content-end" id=" navbarNavAltMarkup">
				<nav class="nav nav-pills">
					<a class="nav-item nav-link" id="list" href="/user">Home</a>
					<a class="nav-item nav-link" id="list" href="/user/add_product">Add Product</a>
					<a class="nav-item nav-link" id="list" href="/user/my_product">My Product</a>
					<a class="nav-item nav-link active" id="list" href="/user/cart">Cart</a>
					<a class="nav-item nav-link" id="list" href="/user/logout">Log Out</a>
				</nav>
			</div>
		</nav>

		<div class="cards">
		</div>
	</main>
	<script src="../js/cart.js"></script>
</body>

</html>